<div class="wrapper">
    <section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!-- <h2 class="section-heading">We've got what you need!</h2> -->
                <h2 class="section-heading">Nice to meet you!</h2>
                <hr class="light">

                <div class="row">
                    <div class="col-sm-4 col-sm-offset-2 text-center">
                        <p><img alt="Anton Batiaev" id="logo" src="img/batiaev.jpg"></p>
                        <h2 class="section-heading">{{ site.name }}</h2>
                        <h4 class="section-heading">Software Developer</h4>
                        <p><small class="location"><a href="https://www.google.com/search?q=russia+samara" target="_blank">Russia Samara <i class="fa fa-external-link"></i></a></small></p>
                    </div>
                    <div class="col-sm-6 text-center">
                        <p class="text-faded">Since 2010 I'm developing hightly loaded applications. Firstly I was working with C++ and designed protocol for intergration our Qt-based application with our another app for embedded systems. Now I'm working basically with Java and Ruby on Rails and on my current job we develop <a href="http://www.sherlocktaxi.com/" data-toggle="tooltip" data-placement="bottom" title="Sherlock Taxi">taxi management solution</a> to customers around the world, based on <a href="https://www.cuba-platform.com/" data-toggle="tooltip" data-placement="bottom" title="Cuba Platform">our Java platform</a>.</p>
                    </div>
                </div>

                <a href="#services" class="page-scroll btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
    </section>
</div>