<div class="wrapper">
    <section class="bg-primary" id="about">
        <div class="container text-center">
            <h2 class="section-heading">Nice to meet you!</h2>
            <hr class="light">

            <div class="row">
                <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-2 text-center">
                    <p><img alt="Anton Batiaev" id="logo" src="img/batiaev.jpg"></p>
                    <h2 class="section-heading">{{ site.name }}</h2>
                </div>
                <div class="col-md-offset-1 col-md-7 col-sm-6 text-left text-faded">
                    <p><i class="fa fa-2x fa-quote-left"></i>
                        Since 2010 I'm involved in software development.<br/>
                        Firstly I was working with C++/Qt, when I switched on Java at 2014.<br/>
                        I was part of great teams, with whom we were creating interesting software, e.g.:
                    </p>
                    <ul class="fa-ul">
                        <li><i class="fa-li fa fa-check"></i>Complex <a href="http://www.sherlocktaxi.com/" data-toggle="tooltip" data-placement="bottom" title="Sherlock Taxi">Taxi Management Solution</a> for companies around the world<br/>
                            (I and PM spent one month at Africa to lauch one of them);</li>
                        <li><i class="fa-li fa fa-check"></i><a href="https://www.haulmont.com/#bespoke">Bespoke solutions</a> at our <a href="https://www.cuba-platform.com/" data-toggle="tooltip" data-placement="bottom" title="Cuba.platform">Cuba.platform</a><br/>
                            (Java web framework for rapid application development);</li>
                        <li><i class="fa-li fa fa-spinner fa-spin"></i>Risk management application for one of the largest Russian's brokerage house;</li>
                        <li>and so on  &hellip;</li>
                    </ul>
                </div>
            </div>

            <a href="#services" class="page-scroll btn btn-default btn-xl">Get Started!</a>
        </div>
    </section>
</div>