<section class="bg-dark" id="certifications">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>My courses and certifications</h2>
            <hr class="light">
            <h3>I always keep learn from the best!</h3>
            <p>
                <a href="https://www.cisco.com/"><img  data-toggle="tooltip" data-placement="bottom" title="Cisco" alt="Cisco logo" class="edu_logo" src="img/logo_cisco.jpg"></a>
                <a href="https://www.drweb.com"><img  data-toggle="tooltip" data-placement="bottom" title="Dr.Web" alt="Dr.Web logo" class="edu_logo" src="img/logo_drweb.png"></a>
                <a href="https://mva.microsoft.com/"><img  data-toggle="tooltip" data-placement="bottom" title="Microsoft" alt="Microsoft logo" class="edu_logo" src="img/logo_microsoft.jpg"></a>
                <a href="https://www.pmi.org/"><img  data-toggle="tooltip" data-placement="bottom" title="Project Management Institute" alt="PMI logo" class="edu_logo" src="img/logo_pmi.png"></a>
                <a href="https://unex.uci.edu/"><img  data-toggle="tooltip" data-placement="bottom" title="University of California, Irvine" alt="UCI logo" class="edu_logo" src="img/logo_uci.png"></a>
                <a href="https://www.stanford.edu/"><img  data-toggle="tooltip" data-placement="bottom" title="Stanford" alt="Stanford logo" class="edu_logo" src="img/logo_stanford.png"></a>
            </p>
            <a href="certificates.html" class="btn btn-default btn-xl wow tada">Check all list!</a>
        </div>
    </div>
</section>