<footer>
	<div class="container text-center">
		<div class="row">
		  <div class="col-md-4">
		  	<h3>Contacts</h3>
		  	<ul class="fa-ul">
		        <li><a target="_blank" href="https://www.facebook.com/a.batyaev"><span class="fa fa-facebook"></span> Facebook</a></li>
		        <li><a target="_blank" href="https://vk.com/a.batiaev"><span class="fa fa-vk"></span> VK.com</a></li>
		        <li><a target="_blank" href="https://www.linkedin.com/pub/anton-batiaev/56/998/4aa"><span class="fa fa-linkedin-square"></span> LinkedIn</a></li>
		        <li><a target="_blank" href="skype://a_batyaev"><span class="fa fa-skype"></span> Skype</a></li>
		        <li><a target="_blank" href="https://github.com/AnBat"><span class="fa fa-github"></span> GitHub</a></li>
		        <li><a target="_blank" href="https://www.upwork.com/users/~0123f13a314a7e010a"><span class="fa fa-laptop"></span> Upwork </a></li>
		        <li><a target="_blank" href="http://stackoverflow.com/users/3445083/anbat"><span class="fa fa-stack-overflow"></span> StackOverflow</a></li>
		        <li><a target="_blank" href="mailto:anton@batiaev.com"><i class="fa fa-envelope"></i> anton@batiaev.com</a></li>
		  	</ul>
		  </div>
		  <div class="col-md-4">
		  	<h3>Projects <small><a href="{{ site.baseurl }}/projects/"><i class="fa fa-external-link"></i></a></small></h3>
		  	<ul class="fa-ul">
		  		<li><a target="_blank" href="http://www.sherlocktaxi.com">Sherlock Taxi</a></li>
		  		<li><a target="_blank" href="http://www.atol.ru/software/frontol-manager/">Frontol Manager</a></li>
		  		<li><a target="_blank" href="https://github.com/AnBat/testingsystem/wiki/Main">Testing System</a></li>
		  		<li><a target="_blank" href="https://crebab.com">Crebab Traveler</a></li>
		  		<li><a target="_blank" href="https://github.com/AnBat/vk-java-sdk">Vk Java SDK</a></li>
		  		<li><a target="_blank" href="https://github.com/AnBat">Open source projects</a></li>
		        <li><a target="_blank" href="https://batiaev.com/blog/"><i class="fa fa-pencil"></i> Tech Blog</a></li>
		  	</ul>
		  </div>
		  <div class="col-md-4">
		  	<h3 class="courses">Courses &amp; Certificates <small><a href="{{ site.baseurl }}/courses/"><i class="fa fa-external-link"></i></a></small></h3>
		  	<ul class="fa-ul">
		<li><span class="badge">3</span> <a target="_blank" href="https://www.stanford.edu/">Stanford University</a></li>
		<li><span class="badge">1</span> <a target="_blank" href="http://unex.uci.edu/">University of California</a></li>
		<li><span class="badge">1</span> <a target="_blank" href="http://www.upenn.edu/">University of Pennsylvania</a></li>
		<li><span class="badge">2</span> <a target="_blank" href="https://www.umich.edu/">University of Michigan</a></li>
		<li><span class="badge">1</span> <a target="_blank" href="http://www.rice.edu/">Rice University</a></li>
		<li><span class="badge">47</span> <a target="_blank" href="https://mva.microsoft.com/">Microsoft</a></li>
		<li><span class="badge">8</span> <a target="_blank" href="http://www.drweb.ru/">Dr.Web</a></li>
		<li><span class="badge">4</span> <a target="_blank" href="http://www.dlink.ru/">D-Link</a></li>
		<li><span class="badge">3</span> <a target="_blank" href="https://www.netacad.com/">Cisco</a></li>
		  	</ul>
		  </div>
		</div>
		Copyright &copy; <time datetime="2014-01-26">2014 &ndash; 2015</time>. Anton Batiaev.<br>All Rights Reserved.
	</div>
</footer>