<footer class="container center">
	<hr class="footer">
	<div class="row">
	  <div class="col-md-4">
	  	<h3>Contacts</h3>
	  	<ul class="fa-ul">
        <li data-toggle="tooltip" data-placement="left" title="Facebook"><a target="_blank" href="https://www.facebook.com/a.batyaev"><span class="fa fa-facebook"></span> Anton Batiaev</a></li>
        <li data-toggle="tooltip" data-placement="left" title="Vk"><a target="_blank" href="https://vk.com/a.batiaev"><span class="fa fa-vk"></span> Anton Batiaev</a></li>
        <li data-toggle="tooltip" data-placement="left" title="LinkedIn"><a target="_blank" href="https://www.linkedin.com/pub/anton-batiaev/56/998/4aa"><span class="fa fa-linkedin-square"></span> Anton Batiaev</a></li>
        <li data-toggle="tooltip" data-placement="left" title="Google+"><a target="_blank" href="https://plus.google.com/+AntonBatiaev1"><span class="fa fa-google-plus"></span> Anton Batiaev</a></li>
        <li data-toggle="tooltip" data-placement="left" title="Email"><a target="_blank" href="mailto:anton@batiaev.com"><span class="fa fa-at"></span> anton@batiaev.com</a></li>
        <li data-toggle="tooltip" data-placement="left" title="Skype"><a target="_blank" href="skype://anton.batiaev"><span class="fa fa-skype"></span> anton.batiaev</a></li>
        <li data-toggle="tooltip" data-placement="left" title="GitHub"><a target="_blank" href="https://github.com/AnBat"><span class="fa fa-github"></span> anbat</a></li>
        <li data-toggle="tooltip" data-placement="left" title="StackOverflow"><a target="_blank" href="http://stackoverflow.com/users/3445083/anbat"><span class="fa fa-stack-overflow"></span> anbat</a></li>
	    <li data-toggle="tooltip" data-placement="left" title="Jabber (XMPP)"><a target="_blank" href="jabber:a.batyaev@jabber.org"><span class="fa fa-comment-o"></span> a.batyaev</a></li>
        <li data-toggle="tooltip" data-placement="left" title="Upwork (ODesk)"><a target="_blank" href="https://www.upwork.com/users/~0123f13a314a7e010a"><span class="fa fa-laptop"></span> Anton Batiaev</a></li>
        <li data-toggle="tooltip" data-placement="left" title="My tech blog"><a target="_blank" href="https://batiaev.com/blog/"><i class="fa fa-pencil"></i> blog</a></li>
	  	</ul>
	  </div>
	  <div class="col-md-4">
	  	<h3>Projects</h3>
	  	<ul class="fa-ul">
	  		<li>Sherlock</li>
	  		<li>Frontol Manager</li>
	  		<li>Testing system</li>
	  		<li>Open source projects</li>
	  		<li>Crebab Studio</li>
	  	</ul>
	  </div>
	  <div class="col-md-4">
	  	<h3>Courses</h3>
	  	<ul class="fa-ul">
	  		<li>MVA</li>
	  		<li>Coursera</li>
	  		<li>D-Link</li>
	  		<li>Dr.Web</li>
	  		<li>Cisco</li>
	  	</ul>
	  </div>
	</div>
	Copyright &copy; <time datetime="2014-01-26">2014 &ndash; 2015</time>. Anton Batiaev.<br>All Rights Reserved.
</footer>