<div id="menu">
<a name="menu"></a>
<ul>
<li><a href="/">
	<span class="text-top">Home</span>
	<span class="text-bottom">About me</span>
</a></li>
<li><a href="/projects/">
	<span class="text-top">Projects</span>
	<span class="text-bottom">Desktop software and web</span>
</a></li>
<li><a href="/courses/">
	<span class="text-top">Сourses and Сertificates</span>
	<span class="text-bottom">My achievements</span>
</a></li>
<li><a href="http://blog.batyaev.com" target="_blank">
	<span class="text-top">Blog</span>
	<span class="text-bottom">Notes about IT and something else</span>
</a></li>
</ul>
</div>
<br \>
