<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-md-4 col-xs-6">
                <a href="http://www.sherlocktaxi.com/" class="portfolio-box">
                    <img src="img/portfolio/sherlock.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Java Dev</div>
                            <div class="project-name">Sherlock Taxi</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-6">
                <a href="http://www.atol.ru/software/frontol-manager/" class="portfolio-box">
                    <img src="img/portfolio/fm.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">C++\Qt Dev</div>
                            <div class="project-name">Frontol Manager</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-6">
                <a href="http://kondakova.crebab.com/" class="portfolio-box">
                    <img src="img/portfolio/photo.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Site dev</div>
                            <div class="project-name">Photographer portfolio</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-6">
                <a href="https://github.com/AnBat" class="portfolio-box">
                    <img src="img/portfolio/opensource.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Open source</div>
                            <div class="project-name">Fork me on github</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-6">
                <a href="https://github.com/crebab/tesys" class="portfolio-box">
                    <img src="img/portfolio/test.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">C++\Qt Dev</div>
                            <div class="project-name">Testing System</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-6">
                <a href="https://github.com/anbat/vk-java-sdk" class="portfolio-box">
                    <img src="img/portfolio/vkapi3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Java Dev \ Open source</div>
                            <div class="project-name">Vk Java SDK</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>