<section id="services">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">At Your Service</h2>
            <hr class="primary">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-html5 wow bounceIn text-primary"></i>
                    <h3>Website development</h3>
                    <p class="text-muted">HTML5, CSS3, WordPress, etc</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code-fork wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Software development</h3>
                    <p class="text-muted">Java, Spring, Hibernate etc.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-life-ring wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>IT support</h3>
                    <p class="text-muted">System and db administration<sup>1</sup></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-server wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Hosting and domains</h3>
                    <p class="text-muted"><a href="https://www.reg.ru/">Reg.ru</a> domain registrator partner!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <small>
          <ol>
            <li>Available business hours support - 8AM to 5PM MSK (Monday - Friday) or 24\7 Support.</li>
          </ol>
        </small>
    </div>
  </div>
</section>