body {
    background-color: #fafafa;
}

header {
    background-color: #4b4a56;
    background-image: url('/images/header.webp');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    height: 45vh;
}

@media screen and (max-width: 600px) {
    header {
        height: 30vh;
    }
}

main {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.wideOnly {
    display: block;
    visibility: inherit;
}

.mobileOnly {
    display: none;
}

@media (max-width: 700px) {
    .wideOnly {
        display: none;
        visibility: hidden;
    }
    .mobileOnly {
        display: block;
    }
}

@media (min-width: 1280px) {
    main {
        max-width: 1280px;
    }
}

h2 {
    text-align: center;
}

footer {
    color: rgba(0, 0, 0, 0.54);
    text-align: center;
    padding: 24px;
}

footer>a {
    color: inherit;
    text-decoration: none;
}

footer>a:hover,
footer>a:active,
footer>a:focus {
    text-decoration: dotted;
}

.flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexbox>* {
    width: 100%;
    flex-grow: 1;
}

.contactAvatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.centered {
    text-align: center;
}

.intro {
    background-color: white;
    margin-top: -20vh;
    display: flex;
    flex-direction: row;
}

ul.noBulletList {
    list-style-type: none;
    padding: 0;
}

.avatar {
    width: 25vw;
    min-height: 25vw;
    object-fit: cover;
    display: block;
    background-color: #4d564c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-grow: 1;
}

@media screen and (max-width: 600px) {
    .intro {
        flex-direction: column;
    }
    .flexbox {
        flex-direction: column;
    }
    .avatar {
        width: 100%;
    }
}

.personalDetails {
    margin: 2rem;
    flex-grow: 8;
}

.tags {
    margin: 0.5rem;
}

.svgIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 12px;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cardMedia {
    width: 100%;
    min-height: 200px;
}