.default-title {
  font-size: 4rem!important;
  font-weight: 800!important;
  background: -webkit-linear-gradient(135deg, #09009f, #40a67b 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-title {
  font-size: 4rem!important;
  font-weight: 800!important;
  background: -webkit-linear-gradient(45deg, #09009f, #40a67b 45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-subtitle {
  font-size: 1.5rem!important;
  font-weight: 400!important;
  background: -webkit-linear-gradient(45deg, #09009f, #40a67b 45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skill-card {
  color: aliceblue;
  background-image: url("/images/lines.png");
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.skill-card h3 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.bg-red {
  background-color: rgba(97, 51, 57, 100%); /* #613339 */
}
.bg-green {
  background-color: rgba(37, 68, 50, 100%); /* #254432 */
}
.bg-blue {
  background-color: rgba(31, 48, 87, 100%); /* #1f3057 */
}
.bg-light-blue {
  background-color: rgba(31, 48, 87, 10%); /* #1f3057 */
}

main {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  --smokeWhiteColor: #F5F5F58A;
  --selectionColor: #09009f;
  --bgBlueColor: #060332FF;
  --bgGreenColor: #091C05FF;
  --bgDarkColor: #0d1116;
  font-family: "Inter-Bold", "Inter", "Inter Placeholder", sans-serif;
}

.wideOnly {
  display: block;
  visibility: inherit;
}

.mobileOnly {
  display: none;
}

@media (max-width: 700px) {
  .wideOnly {
    display: none;
    visibility: hidden;
  }
  .mobileOnly {
    display: block;
  }
}

@media (min-width: 1280px) {
  main {
    max-width: 1280px;
  }
}

@media screen and (max-width: 600px) {
  .intro-inner {
    flex-wrap: wrap;
    text-align: center;
  }
  .flexbox {
    flex-direction: column;
  }
}

h2 {
  text-align: center;
}

footer {
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
  padding: 24px;
}

footer > a {
  color: inherit;
  text-decoration: none;
}

footer > a:hover,
footer > a:active,
footer > a:focus {
  text-decoration: dotted;
}

.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexbox > * {
  width: 100%;
  flex-grow: 1;
  align-self: stretch;
}

.contactAvatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.centered {
  text-align: center;
}

section.intro {
  color: whitesmoke;
  background: radial-gradient(
          circle closest-corner at 80% 30%,
          var(--bgBlueColor),
          var(--bgDarkColor) 150%
  ) no-repeat;
  border-bottom-right-radius: 64px;
  border-bottom-left-radius: 64px;
}

.flexWrap {
  flex-wrap: wrap;
}
section.intro .intro-inner {
  display: flex;
  flex-direction: row-reverse;
  background: radial-gradient(
          circle closest-corner at 30% 80%,
          var(--bgGreenColor),
          transparent 150%
  ) no-repeat;
  border-bottom-left-radius: 64px;
  border-bottom-right-radius: 64px;
}


ul.noBulletList {
  list-style-type: none;
  padding: 0;
}

.avatar {
  width: 25vw;
  min-height: 25vw;
  object-fit: cover;
  display: block;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-grow: 1;
}

.personalDetails {
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-grow: 8;
}

.tags {
  margin: 0.5rem;
}

.tags:hover {
  color: white;
}

.svgIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 12px;
}

.experience-0 {
  background-image: url("/images/currentJobBg.png");
  color: whitesmoke;
}

.experience-1 {
  display: flex;
  flex-direction: column;
  background-color: #815DF6FF;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cardMedia {
  width: 100%;
  min-height: 200px;
}