<div id="menu">
<a name="menu"></a>
<ul>
<li><a href="/ru">
	<span class="text-top">Домашняя страница</span>
	<span class="text-bottom">Обо мне</span>
</a></li>
<li><a href="/ru/projects/">
	<span class="text-top">Проекты</span>
	<span class="text-bottom">Локальное программное обеспечение и веб</span>
</a></li>
<li><a href="/ru/courses/">
	<span class="text-top">Курсы и сертификаты</span>
	<span class="text-bottom">Мои достижения</span>
</a></li>
<li><a href="http://blog.batyaev.com" target="_blank">
	<span class="text-top">Блог</span>
	<span class="text-bottom">Заметки о ИТ и многом другом</span>
</a></li>
</ul>
</div>
<br \>
