<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>{{ page.title }}</title>
	<meta name='keywords' content=''/>
	<meta name='author' content="Anton Batyaev"/>
	<meta name='copyright' content="Copyright © 2014 Anton Batyaev. All Rights Reserved."/>
	<meta http-equiv='Reply-to' content='a.batyaev@gmail.com'/>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
	<meta http-equiv="X-UA-Compatible" content="chrome=1" />
	<meta name="description" content="Anbat.github.io : personal page" />
	<link rel="icon" type="image/png" href="/images/face.png" />
	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">
</head>

<body>
	<a id="forkme_banner" href="https://github.com/AnBat">View on GitHub</a>
<!-- HEADER -->
<div id="header_wrap" class="outer">
	<header class="inner">

		<table style="width:100%;">
		<tr>
		<td>
			<a href="/"><img src="/images/face.png" alt="Anton Batyaev" id="my_photo"></img></a>
		</td>
		<td>
			<h1 id="page_title">Anton Batyaev</h1>
			<h2 id="page_subtitle">Software developer</h2>
			<h3 id="page_subtitle">Russia</h2>
		</td>
		<td style="color: #fff;">
			<ul>
				<li>e-mail:&nbsp; <a href="mailto:anton@batyaev.com">anton@batyaev.com</a></li>
				<li>skype: &nbsp; <a href="skype:a_batyaev">a_batyaev</a></li>
				<li>blog: &nbsp;&nbsp;&nbsp;&nbsp; <a href="http://blog.batyaev.com">blog.batyaev.com</a></li>
				<li>
					<a href="https://www.facebook.com/a.batyaev"><img src="/images/fb.png" alt="Facebook" id="social_button"></img></a>
					<a href="http://www.linkedin.com/pub/anton-batyaev/56/998/4aa"><img src="/images/linkedin.png" alt="LinkedIn" id="social_button"></img></a>
					<a href="http://plus.google.com/109685251794521131731"><img src="/images/googleplus.png" alt="Google" id="social_button"></img></a>
					<a href="mailto:a.batyaev@gmail.com"><img src="/images/mail.png" alt="Email" id="social_button"></img></a>
					<a href="skype://a_batyaev"><img src="/images/skype.png" alt="Skype" id="social_button"></img></a>
					<a href="/ru/"><img src="/images/russia.png" alt="Russian Language" id="social_button"></img></a>
				</li>
			</ul>
		</td>
		</tr>
		</table>

	</header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
	<section id="main_content" class="inner">

		<div id="menu">
		<a name="menu"></a>
		<ul>
		<li><a href="/">
			<span class="text-top">Home</span>
			<span class="text-bottom">About me</span>
		</a></li>
		<li><a href="/projects/">
			<span class="text-top">Projects</span>
			<span class="text-bottom">Desktop software and web</span>
		</a></li>
		<li><a href="/courses/">
			<span class="text-top">Сourses and Сertificates</span>
			<span class="text-bottom">My achievements</span>
		</a></li>
		<li><a href="http://blog.batyaev.com" target="_blank">
			<span class="text-top">Blog</span>
			<span class="text-bottom">Notes about IT and something else</span>
		</a></li>
		</ul>
		</div>
		<br \>

		{{ content }}

	</section>
</div>


<footer class="inner">
	<p> Created by <a href='http://batyaev.com'><span style='text-decoration: underline;'>Anton Batyaev</span></a></p>
	<p>© 2014. All Rights Reserved.</p>
</footer>

</body>
</html>
