<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>{{ page.title }}</title>
	<meta name='keywords' content=''/>
	<meta name='author' content="Anton Batyaev"/>
	<meta name='copyright' content="Copyright © 2014 Anton Batyaev. All Rights Reserved."/>
	<meta http-equiv='Reply-to' content='a.batyaev@gmail.com'/>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
	<meta http-equiv="X-UA-Compatible" content="chrome=1" />
	<meta name="description" content="Anton Batyaev : personal page" />
	<link rel="icon" type="image/png" href="/images/face.png" />
	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">
</head>

<body>
	{{ content }}
</body>
</html>
